/*commentaires*/
/*  font-family: 'Crafty Girls';
    font-family: 'Electrolize';
    font-family: 'Croissant One'; */

body {
    background-color: #95a5a6;
    color: #FFC163;
    margin: 0;
}
.image {
    background: url(element/Images/Girl Robot Cyborg Orange Eyes Dark.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    background-position: center center; 
    border: 2px solid #FFCD00;
    height: 100%;
    width: 100%;
}
h1 {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-family: 'Croissant One';
    font-size: 100;
}
h3 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Electrolize';
    font-size: 80;
}
.first_text {
    float: left;
    height: 50%;
    width: 30%;
    margin-left: 1%;
}
.scd_text {
    float: left;
    height: 50%;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}
.third_text {
    float: left;
    height: 50%;
    width: 30%;
    margin-right: 1%;
}
.paragraphe {
    padding: 1%;
    margin-top: 30%;
    background-color: #5383BD;
}
p {
    position: relative;
    width: 100%;
    text-align: justify;
    color: #FFC163;
    font-family: "Crafty Girls";
    font-style: italic;
    font-size: 60;
}